<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blitz.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilities.android.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_blitz"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <!-- Facebook SDK appId used for authentication. -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <!-- Facebook Login activity -->
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Main loading screen -->
        <activity android:name=".screens.loading.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.queue.QueueScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.splash.SplashScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.access_code.AccessCodeScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.sign_in.SignInScreen"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".screens.sign_up.SignUpScreen"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".screens.main.MainScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.draft_preview.DraftPreviewScreen"
            android:windowSoftInputMode="stateHidden" />

    </application>
</manifest>