<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.blitz.app">

    <!-- Used throughout the app. Offline-mode not possible. -->
    <uses-permission
        android:name="android.permission.INTERNET" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- GCM requires a Google account. -->
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a GCM message is received. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.blitz.app.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Apply custom permission -->
    <uses-permission
        android:name="com.blitz.app.permission.C2D_MESSAGE" />

    <application
        android:name=".utilities.android.BaseApplication"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon_blitz"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/App.Theme"
        tools:replace="android:icon">

        <!-- Environment (affects AppConfig values) -->
        <meta-data android:name="com.blitz.app.config.environment"
            android:resource="@string/environment_qa"/>

        <!-- Required for applications which use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Configuration key for crashlytics. -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="d4cb78aaf6b799872810782b255420b38fbe554b" />

        <!-- Api key for amplitude. -->
        <meta-data
            android:name="com.amplitude.ApiKey"
            android:value="07ccb2ce509a56ca1fd6321a5ea6f5a3" />

        <!-- Main loading screen -->
        <activity android:name=".screens.loading.LoadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".screens.access_queue.AccessQueueScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.splash.SplashScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.access_code.AccessCodeScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.sign_in.SignInScreen"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".screens.sign_up.SignUpScreen"
            android:windowSoftInputMode="stateVisible" />

        <activity android:name=".screens.sign_up.SignUpScreenLegal"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.main.MainScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.draft.DraftScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.web.WebScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.matchup.MatchupScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.stats.StatsBreakdownScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.leaderboard.LeaderboardScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.payments.DepositScreen"
            android:windowSoftInputMode="stateHidden" />

        <activity android:name=".screens.payments.TransactionListViewScreen"
            android:windowSoftInputMode="stateHidden" />

        <!--
          WakefulBroadcastReceiver that will receive intents from GCM
          services and hand them to the custom IntentService.

          The com.google.android.c2dm.permission.SEND permission is necessary
          so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".utilities.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >

            <!-- Receives the actual messages. -->
            <intent-filter>
                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category
                    android:name="com.blitz.app" />
            </intent-filter>
        </receiver>

        <!-- Service to receive GCM messages -->
        <service
            android:name=".utilities.gcm.GcmIntentService" />

    </application>
</manifest>